<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
<!--  <bean id="bookService" class="ca.nexcel.books.business.BookServiceImpl"/>-->

  <bean id="candidatoService" class="venp.services.CandidatoService" />
  <bean id="cedulaService" class="venp.services.CedulaService" />
  <bean id="centroVotacionService" class="venp.services.CentroVotacionService" />
  <bean id="consolidacionService" class="venp.services.ConsolidacionService" />
  <bean id="electorService" class="venp.services.ElectorService" />
  <bean id="escrutinioService" class="venp.services.EscrutinioService" />
  <bean id="locacionService" class="venp.services.LocacionService" />
  <bean id="logService" class="venp.services.LogService" />
  <bean id="paisService" class="venp.services.PaisService" />
  <bean id="partidoPoliticoService" class="venp.services.PartidoPoliticoService" />
  <bean id="perfilService" class="venp.services.PerfilService" />
  <bean id="procesoElectoralService" class="venp.services.ProcesoElectoralService" />
  <bean id="usuarioService" class="venp.services.UsuarioService" />
  <bean id="zonaHorariaService" class="venp.services.ZonaHorariaService" />
  
  
 <bean name="procesoElectoralListaForm" class="venp.web.actions.ProcesoElectoralListaAction">
     <property name="service">
      <ref local="procesoElectoralService"/>
    </property>
 </bean> 
 
  <bean name="procesoElectoralDatosForm" class="venp.web.actions.ProcesoElectoralDatosAction">
     <property name="service">
      <ref local="procesoElectoralService"/>
    </property>
 </bean> 
 
  <bean name="perfilListaForm" class="venp.web.actions.PerfilListaAction">
     <property name="service">
      <ref local="perfilService"/>
    </property>
 </bean> 
 
  <bean name="perfilDatosForm" class="venp.web.actions.PerfilDatosAction">
     <property name="service">
      <ref local="perfilService"/>
    </property>
 </bean>    
  
 <bean name="partidoPoliticoListaForm" class="venp.web.actions.PartidoPoliticoListaAction">
     <property name="service">
      <ref local="partidoPoliticoService"/>
    </property>
 </bean>    
 
  <bean name="partidoPoliticoDatosForm" class="venp.web.actions.PartidoPoliticoDatosAction">
     <property name="service">
      <ref local="partidoPoliticoService"/>
    </property>
 </bean>    
  
 <bean name="/partidoPoliticoAsignarForm" class="venp.web.actions.PartidoPoliticoAsignarAction">
     <property name="service">
      <ref local="partidoPoliticoService"/>
    </property>
 </bean>    
  
 <bean name="/PaisListaForm" class="venp.web.actions.PaisListaAction">
     <property name="service">
      <ref local="paisService"/>
    </property>
 </bean>  
  
 <bean name="/paisDatosForm" class="venp.web.actions.PaisListaAction">
     <property name="service">
      <ref local="paisService"/>
    </property>
 </bean>  
    
  <bean name="/locacionCerrarVotacion" class="venp.web.actions.LocacionCerrarVotacionAction" >
  	<property name="service">
	  <ref local="locacionService"/>
	</property>
  </bean>
  
  <bean name="/locacionPuestaCero" class="venp.web.actions.LocacionPuestaCeroAction" >
  	<property name="service">
	  <ref local="locacionService"/>
	</property>
  </bean>
  
  <!-- interceptors cannot reach Struts action because its not under Spring's control -->

</beans>