<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app id="WebApp_ID" version="2.5"
 xmlns="http://java.sun.com/xml/ns/javaee"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
 <display-name>VENP - Votacion Electronica No Presencial</display-name>
 <!-- 
 <filter>
  <description>Filtra los request que no esten en sesion</description>
  <display-name>SessionFilter</display-name>
  <filter-name>SessionFilter</filter-name>
  <filter-class>venp.filters.SessionFilter</filter-class>
 </filter>
 <filter-mapping>
  <filter-name>SessionFilter</filter-name>
  <servlet-name>action</servlet-name>
 </filter-mapping>
  -->
 <listener>
  <listener-class>venp.listener.SessionVotantesListener</listener-class>
 </listener>
 <servlet>
  <servlet-name>action</servlet-name>
  <servlet-class>org.apache.struts.action.ActionServlet</servlet-class>
  <init-param>
   <param-name>config</param-name>
   <param-value>/WEB-INF/struts-config.xml</param-value>
  </init-param>
  <init-param>
   <param-name>debug</param-name>
   <param-value>2</param-value>
  </init-param>
  <load-on-startup>2</load-on-startup>
 </servlet>
 <servlet-mapping>
  <servlet-name>action</servlet-name>
  <url-pattern>*.do</url-pattern>
 </servlet-mapping>
 <session-config>
  <session-timeout>60</session-timeout>
 </session-config>
 <welcome-file-list>
  <welcome-file>intro.jsp</welcome-file>
 </welcome-file-list>
 <error-page>
  <error-code>404</error-code>
  <location>/WebContent/errores.jsp</location>
 </error-page>
 <jsp-config>
  <taglib>
   <taglib-uri>struts-html</taglib-uri>
   <taglib-location>/WEB-INF/tlds/struts-html.tld</taglib-location>
  </taglib>
  <taglib>
   <taglib-uri>struts-bean</taglib-uri>
   <taglib-location>/WEB-INF/tlds/struts-bean.tld</taglib-location>
  </taglib>
  <taglib>
   <taglib-uri>struts-logic</taglib-uri>
   <taglib-location>/WEB-INF/tlds/struts-logic.tld</taglib-location>
  </taglib>
  <taglib>
   <taglib-uri>struts-nested</taglib-uri>
   <taglib-location>/WEB-INF/tlds/struts-nested.tld</taglib-location>
  </taglib>
  <taglib>
   <taglib-uri>struts-tiles</taglib-uri>
   <taglib-location>/WEB-INF/tlds/struts-tiles.tld</taglib-location>
  </taglib>
 </jsp-config>
 <login-config>
  <auth-method>BASIC</auth-method>
 </login-config>
 
 <!-- CAMBIOS RICH FACES!!!!! -->
 <!-- Faces Servlet -->
 <servlet>
   <servlet-name>Faces Servlet</servlet-name>
   <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
   <load-on-startup>1</load-on-startup>
 </servlet>
 <servlet-mapping>
     <servlet-name>Faces Servlet</servlet-name>
     <url-pattern>*.jsf</url-pattern>
 </servlet-mapping>
 <context-param>
   <param-name>javax.faces.STATE_SAVING_METHOD</param-name>
   <param-value>server</param-value>
 </context-param>
 <listener>
   <listener-class>com.sun.faces.config.ConfigureListener</listener-class>
 </listener>
 
 <!-- Plugging the "Blue Sky" skin into the project -->
 <context-param>
   <param-name>org.richfaces.SKIN</param-name>
   <param-value>blueSky</param-value>
 </context-param>
 
 <!-- Making the RichFaces skin spread to standard HTML controls -->
 <context-param>
   <param-name>org.richfaces.CONTROL_SKINNING</param-name>
   <param-value>enable</param-value>
 </context-param>
 
 <!-- Defining and mapping the RichFaces filter -->
 <filter> 
   <display-name>RichFaces Filter</display-name> 
   <filter-name>richfaces</filter-name> 
   <filter-class>org.ajax4jsf.Filter</filter-class> 
 </filter> 

 <filter-mapping> 
   <filter-name>richfaces</filter-name> 
   <servlet-name>Faces Servlet</servlet-name>
   <dispatcher>REQUEST</dispatcher>
   <dispatcher>FORWARD</dispatcher>
   <dispatcher>INCLUDE</dispatcher>
 </filter-mapping>
 
</web-app>
